[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.0.0"
django-crispy-forms = ">=2.1"
djangorestframework = ">=3.14.0"
pymysql = ">=1.1.0"

[dev-packages]
setuptools = ">=69.2.0"

[requires]
python_version = "3.11"
